body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div {
    width: 600px;
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
}
img, video {
    max-width: 100%;
    height: auto;
    width: auto;
}
a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
.right {
    float: right;
}
footer {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(138, 138, 138, 0.19);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	bottom:0;
}
@media (max-width: 700px) {
    body {
        background-color: #fff;
    }
    div {
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 1em;
    }
}
